section {
    .wrapper {
        .hero {
            height: 500px;
            background: linear-gradient(135deg, #ff7af5 0%, #513162 100%);
            border-radius: 20px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .herobox {
                max-width: 50%;
                padding-left: 100px;
                h2 {
                    font-family: $fontpri;
                    font-size: 40px;
                    color: white;
                }
                h1 {
                    font-family: $fontpri;
                    font-size: 40px;
                    text-transform: uppercase;
                    color: white;
                    font-weight: bold;
                    font-weight: 600;
                    padding-top: 5px;
                }
                p {
                    max-width: 60%;
                    font-family: $fontpri;
                    font-size: 15px;
                    color: white;
                    padding-top: 5px;
                }
                .btnspace {
                    display: flex;
                    align-items: center;
                    margin-top: 30px;
                    .btnhero {
                        margin-left: 10px;
                    }
                }
            }
            .slickhero {
                width: 50%;
                height: 100%;
                .imgblock1 {
                    background-image: url("/img/herodog.png");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 500px;
                }
                .imgblock2 {
                    background-image: url("/img/herocat.png");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 540px;
                }
                .imgblock3 {
                    background-image: url("/img/herobird.png");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 500px;

                }
            }
        }
    }
}
